stylesheet
* {
  font-family: verdana;
  font-size: 14px;
  }

  html{
    position: absolute;
    margin: auto;
  }

  body {
    background: url(ivory-off-white-wrinkled-paper.jpg) no-repeat center fixed;
    background-size: cover;
  }

  #page {

    background-color: hsl(0, 100%, 100%, 0.8);
    margin: 10px 200px 10px 200px;
    padding: 30px 30px 30px 30px;
  }

h1 {
  color: green;
  text-align: center;
  border: 5px solid brown;
  margin: auto auto 20px auto;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  color: brown;
  margin-top: 40px;
}

ul {
  margin: auto 50px auto 50px;
}

p {
  font-family: verdana;
  font-size: 16px;
  text-align: justify;
}

ul {
  font-family: verdana;
  font-size: 16px;
}

footer {
  text-align: center;
  border: 5px solid brown;
  margin: 50px auto 20px auto;
  color: green;
}

.center {
  display: block;
  margin: 30px auto 30px auto;
  margin-right: auto;
  width: 80%;
}
